
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #252525;
}
.player-area {
	margin-top:20px;
	height: 100%;
	width: 100%;
    @extend %center;
}

.vjs_video_3-dimensions {
	height:500px;
	width: 1000px;
}
.movie {
	margin-top: 20px;
	margin-left: 4%;
	margin-right: auto;
	margin-bottom: 20px;
	a {
		margin-left: 25px;
		text-decoration: none;
		color: white;
		text-align: center;
		width: 160px;
		height: 350px;
	}
}

.poster {
	height:200px;
	width: 160px;
	box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.28);
	color:white;
	background-color: rgb(61, 134, 134);
	text-align: center;
	@extend %center;

	p {
		width: 80%;
	}
}




.waves-effect {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	transition: .3s ease-out;
	.waves-ripple {
		position: absolute;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		opacity: 0;
		background: rgba(0, 0, 0, 0.2);
		transition: all 0.7s ease-out;
		transition-property: opacity, -webkit-transform;
		transition-property: transform, opacity;
		transition-property: transform, opacity, -webkit-transform;
		-webkit-transform: scale(0);
		transform: scale(0);
		pointer-events: none;
	}
	&.waves-light {
		.waves-ripple {
			background-color: rgba(255, 255, 255, 0.45);
		}
	}
	&.waves-red {
		.waves-ripple {
			background-color: rgba(244, 67, 54, 0.7);
		}
	}
	&.waves-yellow {
		.waves-ripple {
			background-color: rgba(255, 235, 59, 0.7);
		}
	}
	&.waves-orange {
		.waves-ripple {
			background-color: rgba(255, 152, 0, 0.7);
		}
	}
	&.waves-purple {
		.waves-ripple {
			background-color: rgba(156, 39, 176, 0.7);
		}
	}
	&.waves-green {
		.waves-ripple {
			background-color: rgba(76, 175, 80, 0.7);
		}
	}
	&.waves-teal {
		.waves-ripple {
			background-color: rgba(0, 150, 136, 0.7);
		}
	}
	img {
		position: relative;
		z-index: -1;
	}
	.waves-pple {
		z-index: -1;
	}
}
.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
	border: 0;
	font-style: normal;
	font-size: inherit;
	text-transform: inherit;
	background: none;
}
.waves-notransition {
	transition: none !important;
}
.waves-circle {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	text-align: center;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
	-webkit-mask-image: none;
}
.waves-input-wrapper {
	border-radius: 0.2em;
	vertical-align: bottom;
	.waves-button-input {
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
.waves-block {
	display: block;
}
.waves-float {
	-webkit-mask-image: none;
	-webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	&:active {
		-webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
	}
}


.button {
    height:50px;
    width: 140px;
    transition: 0.4s;
    background-color: rgb(255, 42, 42);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
	margin: 0 auto;
	color:white;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 15.4vw;
	margin-right: auto;
}

a {
	text-decoration: none;

}